button{
    line-height: 1.5;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.9);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}


.modal-content h5{
    color: #E74C3C;
    text-align: center;
    text-decoration: underline;
}

/* Modals Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* user login options */

.user-login{
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;
}

.user-login button{
    color: white;
    width: auto;
    display: block;
    margin: auto auto;
    margin-top: 2.5rem;
}

.user-login button svg path{
    fill: white;
}

.hide{
    display: none !important;
}

#fb-logout a, #google-logout a{
    color: blue !important;
    text-decoration: underline !important;
}

/* linkedin sign-in button */

.user-login .linkedin-signin{
    background-color: #1877f2;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
    padding: 5px 5px;
}

.user-login .linkedin-signin div{
    display: flex;
}

.user-login .linkedin-signin div p{
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.user-login .linkedin-signin:hover{
    background-color: #1877f2;
}

.err{
    color: red;
    border: 3px solid red;
    border-radius: 5px;
    padding: 5px;
}